* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 56px;
  box-shadow: 0 2px 4px rgba(50, 123, 152, 0.14);
  background-color: #f6fbff;
}

.header-content {
  height: 100%;
  vertical-align: middle;
}